    # Python Virtual Environment (Nicht für dieses Frontend-Projekt benötigt)
    venv/

    # Ignoriere temporäre/alte HTML-Dateien
    test.html

    # Ignoriere alle .txt-Dateien (auch requirements.txt, da nicht relevant für Frontend)
    *.txt

    # Ignoriere spezifische, nicht benötigte Dateien
    AddType videomp4 .htaccess.txt
    